.contain{
background-color: hsl(216, 12%, 8%);
width: 100vw;
height: 100vh;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}
.square{
  background-color: hsl(213, 19%, 18%);
  width: 400px;
  height: 350px;
  border-radius: 5px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stars{
display: flex;
width: 300px;
}
.circle{
  background-color: hsl(213, 19%, 18%);
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 100%;
  color:white;
}
.button{
  width: 300px;
  height: 45px;
  color:hsl(25, 97%, 53%);
  font-weight: bold;
  border-radius: 50px;
}
h2{
  color:white;
}
p{
  color: white;
}
.text-container{
width: 100%;

}